.modal-footer {   border-top: 0px; }

.logout {
	background-color: #DEDEDE;
    border: 1px solid #DEDEDE;
    border-radius: 26px;
}

.select-filter-table{
	width: 130px;
	float: right;
	margin-bottom: 20px;
}

.header-li{
	margin: 4px;
}

.glyphicon {
	font-size: 32px;
}

.glyphicon.glyphicon-globe {
    font-size: 75px;
}

.image-partner {
	width: 58px;
    height: 40px;
}